@page "/tabs"
@inject UIStateService UIStateService
<IonTabs @bind-CurrentTab="CurrentTab">

    <IonTab tab="music">
        <IonHeader translucent>
            <IonToolbar>
                <IonTitle>Music</IonTitle>
            </IonToolbar>
        </IonHeader>

        <IonContent fullscreen class="ion-padding">
            <h1>Music</h1>
        </IonContent>
    </IonTab >

    <IonTab tab="movies">
        <IonHeader translucent>
            <IonToolbar>
                <IonTitle>Movies</IonTitle>
            </IonToolbar>
        </IonHeader>

        <IonContent fullscreen class="ion-padding">
            <h1>Movies</h1>
        </IonContent>
    </IonTab >

    <IonTab tab="games">
        <IonHeader translucent>
            <IonToolbar>
                <IonTitle>Games</IonTitle>
            </IonToolbar>
        </IonHeader>

        <IonContent fullscreen class="ion-padding">
            <h1>Games</h1>
        </IonContent>
    </IonTab >

    <IonTabBar slot="bottom">
        <IonTabButton tab="music">
            <IonLabel>Music</IonLabel>
            <IonIcon name="musical-note"></IonIcon>
        </IonTabButton>
        <IonTabButton tab="movies">
            <IonLabel>Movies</IonLabel>
            <IonIcon name="videocam"></IonIcon>
        </IonTabButton>
        <IonTabButton tab="games">
            <IonLabel>Games</IonLabel>
            <IonIcon name="game-controller"></IonIcon>
        </IonTabButton>
    </IonTabBar>
</IonTabs>

@code {

    private string _currentTab = "games";

    public string CurrentTab
    {
        get => _currentTab;
        set
        {
            UIStateService.Title = "Tabs demo - " + value;
            _currentTab = value;
        }
    }

    protected override void OnInitialized()
    {
        UIStateService.Title = "Tabs demo";
    }


}