<ion-content class="ion-padding">
    <h1>@Title</h1>
    <p>Please take our <a target="_blank" href="https://go.microsoft.com/fwlink/?linkid=2127996">brief survey</a> and tell us what you think.</p>
</ion-content>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string Title { get; set; }
}