@using Microsoft.JSInterop
@namespace Blazor.Ionic
@inherits BaseIonicPresentableComponent<object, Blazor.Ionic.Models.OverlayEventDetail<Blazor.Ionic.Models.IonicComponentDismissPayloadData>>
<div style="display: none" @ref="modalContainer">
    <div @ref="modalContent">@ChildContent</div>
</div>

@code {

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> InputAttributes { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    ElementReference modalContent;
    ElementReference modalContainer;

    protected override async Task CreateElement()
    {
        await JsRuntime.InvokeVoidAsync("IonicBridge.removeremove", modalContent, modalContainer);
        var data = new Dictionary<string, object>()
        {
            {"component", modalContent}
        };
        await JsRuntime.InvokeVoidAsync("IonicBridge.createElement", "ion-modal", Id, InputAttributes, data);
        await JsRuntime.InvokeVoidAsync("IonicBridge.registerBlazorCustomHandler", Id, "ionModalDidDismiss", ThisRef, nameof(HandleDismissed));
        await JsRuntime.InvokeVoidAsync("IonicBridge.registerBlazorCustomHandler", Id, "ionModalDidPresent", ThisRef, nameof(HandlePresented));
    }

    public override async ValueTask DisposeAsync()
    {
        await JsRuntime.InvokeVoidAsync("IonicBridge.removeremoveremove", modalContent);
        await base.DisposeAsync();
    }

}